.autor__wrapper{
    background: linear-gradient(var(--teal) 550px, transparent 750px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.autor__title {
    margin-top: 6.94vh;
    line-height: 7.5vh;
}

.autor__desc {
    margin: 3.7vh 0 5.55vh;
    font-size: 2vh;
    max-width: 46.97vw;
    line-height: 1.5;
    overflow: wrap;
}

.autor__girl {
    border: 3px solid var(--teal);
    border-radius: 12px;
    width: 21.09vw;
    height: 50vh;
    object-fit: cover;
}
