
@font-face {
    font-family: 'Tilda Sans';
    src: url('../assets/fonts/TildaSans-Light.woff2') format('woff2'),
    url('../assets/fonts/TildaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('../assets/fonts/TildaSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/TildaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('../assets/fonts/TildaSans-Medium.woff2') format('woff2'),
    url('../assets/fonts/TildaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('../assets/fonts/TildaSans-Semibold.woff2') format('woff2'),
    url('../assets/fonts/TildaSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('../assets/fonts/TildaSans-Bold.woff2') format('woff2'),
    url('../assets/fonts/TildaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilda Sans Extra';
    src: url('../assets/fonts/TildaSans-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/TildaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tilda Sans';
    src: url('../assets/fonts/TildaSans-Black.woff2') format('woff2'),
        url('../assets/fonts/TildaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}