.navbar {
    font-size: 2.3vh;
    line-height: 3.33vh;
    font-weight: 700;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 #d7d7d7;
    width: 100%;
    position: fixed;
    z-index: 5;
}

@media (min-width: 1200px){
    .navbar{
        height: 11.6vh;
    }

    .navbar__hamburgers{
        height: 100%;
    }

    .navbar__hamburger{
        display: none;
    }

    .navbar__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.98vw;
    transform: translateX(12vw);
    }

    .navbar__connection{
        margin-right: 4vw;
        margin-left: 2vw;
    }
}

@media(max-width: 1200px){
    .navbar{
        height: 34.8vh;
    }

    .navbar__hamburgers{
        position: relative;
        /* height: 100%; */
    }

    .navbar__wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 3.125vw;
        margin-top: 4.9vh;
    }

    .navbar__wrapper > li{
        margin-top: 2.3vh;
    }

    .navbar__connection{
        position: relative;
        right: 3.125vw;
        top: 3.6vh;
    }

    .navbar__hamburger:first-child{
        position: absolute;
        left: 3.125vw;
        top: 4.9vh;
    }

    .navbar__hamburger:nth-child(2){
        /* position: absolute; */
        top: 0;
        /* left: 3.125vw; */
        /* display: none; */
    }
}

/* --------------------------------------INTRO---------------------------------------------- */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.4vh;
}

.intro__desc {
    margin: 4.4vh 0 6.2vh;
    font-size: 3.33vh;
    font-weight: 400;
    color: #3d3d3d;
    max-width: 50vw;
    line-height: 5vh;
    text-align: center;
}

.intro__image {
    margin-top: 20px;
}
