.order{
    width: 100%;
    height: 100vh;
}

.order__header{
    text-align: center;
    background-color: var(--teal);
    width: 100%;
    height: 28.52vh;
}

.order h2{
    padding-top: 5.92vh;
}

.order p{
    font-size: 2.7vh;
    padding-top: 4.16vh;
}

.order__main{
    margin-top: 9.25vh;
    display: flex;
    justify-content: space-between;
}

.order__left{
    width: 33.64vw;
    height: 59.8vh;
    margin-left: 4.2vw;
}

.order__right{
    display: grid;
    width: 48.3vw;
    height: 61.76vh;
    grid-template:
    "name email" 1fr
    "task task" 1fr
    "btn btn" 0.5fr
    /1fr 1fr;
    margin-right: 6.77vw;
}

.order__right input, textarea{
    border-radius: 12px;
    font-size: 2.5vh;
    padding: 12px 15px;
}

.order__name-group{
    justify-self: start;
    grid-area: name;
    margin-right: 0 6.87vw 8.7vh 0;
}

.order__input{
    margin-top: 15px;
    border: 1px solid var(--orange);
    display: block;
    height: 6.85vh;
    width: 20.73vw;
}

.order__label{
    font-size: 1.85vh;
    line-height: 3.33vh;
}

.order__email-group{
    grid-area: email;
    justify-self: end;
}

.order__task-group{
    grid-area: task;
}

.order__label-task{
    margin-left: 1.3vw;
}

.order__task{
    margin-top: 15px;
    border: 1px solid var(--orange);
    display: block;
    justify-self: stretch;
    height: 30vh;
}

.order__btn{
    grid-area: btn;
    justify-self: end;
    margin: 4.72vh 0.39vw 0 0;
}