.partnership__container{
    margin-top: 4.16vh;
    background-color: var(--purple);
    display: flex;
    width: 70vw;
    height: 17.6vh;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    margin-bottom: -6vh;
}

.partnership__container > * {
    font-size: 1.85vh;
    font-weight: 700;
    max-width: 24.27vw;
    color: #fff;
    text-align: center;
    line-height: 2.7vh;
}

.partnership__second-el{
    font-weight: 600;
}

.partnership__first-el{
    font-size: 2.7vh;
    line-height: 4.16vh;
}

.partnership__third-el{
    background-color: var(--purple);
    border: 2px solid #ffffff;
    border-radius: 12px;
    padding: 1.38vh 1.56vw;
    transition: .3s;
}

.partnership__third-el:hover{
    background-color: #fff;
    color: var(--purple);
    z-index: 3;
}


.footer{
    background: var(--teal);
    width: 100%;
    height: 51vh;
    position: relative;
    z-index: -1;
}


.footer__container{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.footer__wrapper{
    margin-top: 9vh;
}

.footer__el {
    border: 2px solid #000;
    border-radius: 100px;
    padding: 5px;
    margin: 15px;
}

.hover{
    display: none;
}

.footer__el:hover{
    background-color: var(--purple);
    border: 2px solid var(--purple);
}

.footer__from{
    text-align: center;
    margin-top: 8.3vh;
    line-height: 1.5;
}

.footer__from > *{
    display: block;
}

.footer__img {
    position: relative;
    display: inline-block;
}

.footer__img img{
    transition: opacity 0.3s;
}

.footer__img img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.footer__img:hover img:first-child {
    opacity: 0;
}

.footer__img:hover img.hover {
    opacity: 1;
}

.footer__el {
    display: block;
}